/* === styling home page === */
.container {
    max-width: 980px;
    margin: auto;
    border: 1px solid #dddddd;

    background-image: url( "../images/Background 2.jpg" );
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 100%;
    min-height: 100vh;
}
/* === flex containers === */
.button-area,
.search-area,
#result-area {
    width: 100%;
    background-color: white;
    margin-top: 10px;
    border: 1px solid black;

    flex-wrap: wrap;
}
.search-area{    
    font-size: 16px;
    font-weight: bold;
}
/* === buttons === */
#movie-input,
.btn {
    margin-top: 5px;
    margin-right: 5px;
    border: 1px solid black;
}
.btn,
.label {
    font-family: 'Merriweather', serif;
}
.download {
    background-color: rgb(255, 250, 250);
    vertical-align: middle;
    font-size: 24px;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    height: 40px;
}
.download:hover {
    background-color: black;
    color: white;    
}
/* === images === */
img {
    height: 200px;
    width: 200px;
}
.small-icon {
    height: 30px;
    width: 20px;
    border: 1px solid black;
}
/* === animal info tile === */
.animal-info {
    padding-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}