/* === styling home page === */
.container {
    max-width: 980px;
    margin: auto;
    border: 1px solid #dddddd;

    background-image: url( "../images/Background 2.jpg" );
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 100%;
    min-height: 100vh;
}
/* === flex containers === */
.button-area,
.search-area,
.result-area {
    width: 100%;
    background-color: white;
    margin-top: 10px;
}